version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8008}:8000"
    volumes:
      - ./:/app
    entrypoint: php artisan octane:frankenphp --watch
#    entrypoint: php artisan octane:start --watch